$PINE-GREEN : #19270d;
$FOREST-GREEN : #25591f;
$KHAKI-GREEN : #818c3c;
$KHAKI : #72601b;
$TRUNK-BROWN : #593a0e;

#user-profile {
  border: 2px solid black;
  background-color: green;
  height: 400px;
  font-family: "Times New Roman", Times, serif;
  font-size: 30px;
}
