$PINE-GREEN : #19270d;
$FOREST-GREEN : #25591f;
$KHAKI-GREEN : #818c3c;
$KHAKI : #72601b;
$TRUNK-BROWN : #593a0e;

#user-profile {
  border: 2px solid black;
  background-color: green;
  height: 400px;
  font-family: "Times New Roman", Times, serif;
  font-size: 30px;
}

#left-panel {
  border: 1px solid #593a0e;
  /*min-height: 400px;*/
  width: 15%;
  /*background-color: #25591f;*/
}

#main-body {
  border: 1px solid black;
  width: 85%;
  /*background-image: url("http://client-cdn.crystalcommerce.com/photo/ideal808/file/102722/large/playmat_originalfield.jpg");
  background-color: #cccccc;*/
}
